@import url("https://fonts.googleapis.com/css?family=Quicksand|Varela+Round");

#logo {
  font-family: "Quicksand", sans-serif !important;
  font-size: 5rem !important;
  padding-bottom: 2rem;
  letter-spacing: 1rem;
}
